<p id="notice"><%= notice %></p>
<p id="notice"><%= notice %></p>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="sitename" style="float: left; margin-left: 25px">
      <h3> Twój pies</h3>
    </div>
    <div class="container-fluid">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Dodaj psa", new_dog_path %></li>
        <li><%= link_to "Edytuj profil", edit_user_registration_path %></li>
        <li><%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %></li>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="container-fluid" style="max-width: 75%; background-color: #F7F7F7; border-radius:20px">
    <div class="image" style="float:left; margin:20px">
        <%= image_tag @dog.image.url(:medium), style:'border-radius:20px' %>
    </div>
    <div class="name" style="font-size: 45px">
      <%= @dog.name %>
    </div>
    <div class="info" style="font-size: 20px">
      <div class="sex" style=" ; margin:10px">
        <strong>Płeć:</strong>
         <%= @dog.sex %>
       </div>
      <div class="sex" style="  margin:10px">
         <strong>Rasa psa:</strong>
           <%= @dog.breed_of_dog %>
      </div>

      <div class="sex" style=" margin:10px">
        <strong>Data urodzenia:</strong>
           <%= @dog.birthday %>
      </div>

    <div class="sex" style="  margin:10px">
         <strong>Opis:</strong>
           <%= @dog.description %>
    </div>
    </div>
<div class="btn" style="float: right">
      <%= link_to 'Zmień', edit_dog_path(@dog), class:'btn btn-primary' %>
      <%= link_to 'Powrót', dogs_path, class:'btn btn-default'%>
</div>
</div>


</div>
